<%- include('partials/header') -%>

<h1>Home</h1>

<p><%= description %></p>

<!-- Looping through all the blogs and using the content -->
<% allTheBlogs.forEach((blog) => { %>

<h2><%= blog.title %></h2>

<%if (blog.post.length < 100) { %>
<p><%= blog.post %></p>

<%} else { %>
<p>
	<%= blog.post.substring(0,100) %>...
	<a href="/posts/<%= blog._id %>"> Read More</a>
</p>
<% }}); %> <%- include('partials/footer') -%>
